{{ partial "menu.html" (dict "menuID" "main" "page" .) }}
{{ if ne .IsPage true }} 
<div class="bio-container">
    <div class="bio">
        <img class="avatar" alt="avatar" src="{{ "/images/avatar.webp" | relURL }}" />
        <div class="content">
            <h1>{{ .Site.Title }}</h1>
            <div class="social">
            {{ if .Site.Params.Social }} 
                {{ range $name, $href := .Site.Params.Social }}
                <a href="{{ $href }}">{{ $name }}</a>
                {{ end }}
            {{ end }}
            </div>
            <h5>{{ .Site.Params.bio | markdownify }}</h5>
        </div>
    </div>
</div>
{{ end }}
