:root {
  --spacing: 12px;
  --background: #07080d;
  --background-darker: #05060a;
  --background-lighter: #0e0e10;
  --primary: #8839ef;
  --primary-darker: #6626b3;
  --primary-dark: #2d0f58;
  --secondary: #8839ef;
  --secondary-transparent: #8839ef10;
  --text: #eff1f5;
  --text-secondary: #b0b0b0;
  --warning: #df8e1d;
  --warning-dark: #a56514;
  --info: #04a5e5;
  --info-dark: #004466;
  --tip: #7287fd;
  --tip-dark: #3b49a8;
}

* {
  box-sizing: border-box;
  word-break: all;
}

/* this should fix the ios mobile code blog font size bug
 * recorded here: https://github.com/adityatelange/hugo-PaperMod/issues/828 */
code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--text);
  font-family: "MapleMono NF", monospace;
  background-image: radial-gradient(
      var(--secondary-transparent) 20%,
      transparent 20%
    ),
    radial-gradient(var(--secondary-transparent) 20%, transparent 20%);
  background-position:
    0 0,
    50px 50px;
  background-size: 10px 14px;
  background-color: var(--background);
  font-size: 12pt;
}

main {
  width: 100%;
  margin: 0 auto;
}

.centered {
  margin: 0 auto;
  max-width: 40vw;
}

nav:not(#TableOfContents) {
  ul {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-bottom: var(--spacing);

    li {
      background-color: var(--background);
      cursor: pointer;

      a {
        margin-right: calc(var(--spacing) / 2);
        margin-left: calc(var(--spacing) / 2);
      }
    }
  }
}

.bio-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img.avatar {
      height: 5rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h5 {
        text-align: center;
        color: var(--text-secondary);
      }
    }
  }
}

.pagination {
  margin-top: calc(var(--spacing) * 2);
  height: calc(var(--spacing) * 2);

  a {
    padding: calc(var(--spacing) / 2);
  }

  a.older {
    float: right;
  }
}

.home {
  .article .heading {
    margin-top: calc(var(--spacing) * 2);
    margin-bottom: calc(var(--spacing) / 2);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h3 {
      margin: 0;
    }

    h3.draft a {
      color: var(--primary-darker);
    }

    time {
      min-width: fit-content;
      color: var(--text-secondary);
    }
  }
}

.list {
  .post-archive {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);

    .left {
      display: flex;
      align-items: flex-start;
      margin-right: calc(var(--spacing) / 2);
    }

    time {
      color: var(--text-secondary);
      min-width: calc(var(--spacing) * 3.5);
    }

    h4 {
      margin: 0;
      margin-left: var(--spacing);
    }

    .tags {
      min-width: fit-content;
    }

    .tags a {
      color: var(--text-secondary);
      padding: calc(var(--spacing) / 4);
      text-decoration: none;
    }
  }
}

.about {
  .paper {
    border: 2px solid var(--primary);
    border-left: 7px solid var(--primary);
    margin-top: var(--spacing);
    padding: var(--spacing);
    padding-top: 0;

    .description::before {
      content: "> ";
      color: var(--text-secondary);
    }
  }

  .projects {
    border-spacing: var(--spacing);

    th {
      text-align: left;
    }

    .name {
      padding: calc(var(--spacing));
      background-color: var(--primary-dark);
      border: 2px solid var(--primary);
      border-left: 7px solid var(--primary);
    }

    td {
      color: var(--text);
    }
  }
}

.post {
  /* styling for the date, wordcount and read time*/
  > ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  > h1 {
    text-align: center;
  }

  hr {
    color: var(--background-lighter);
  }

  /* markdown output specific styling */
  .content {
    img {
      display: block;
      max-width: 100%;
    }

    .codeblock {
      max-width: fit-content;
      padding: calc(var(--spacing) / 4);
      margin-top: calc(var(--spacing) / 4);
    }

    .codeblock,
    code,
    pre {
      background-color: var(--background-lighter);
    }

    code {
        color: var(--primary);
    }

    pre {
      margin: 0;
      padding-top: calc(var(--spacing) / 4);
      padding-bottom: calc(var(--spacing) / 4);

      code {
          color: unset;
      }
    }

    .highlight {
      padding-left: calc(var(--spacing) / 4);
      padding-right: calc(var(--spacing) / 4);
      background-color: var(--background-darker);
      overflow-x: auto;

      * {
        background-color: var(--background-lighter) !important;
      }

      span[style*="background-color"] {
        background-color: var(--primary-dark) !important;
      }

      span[style*="background-color"] span {
        background-color: var(--primary-dark) !important;
      }
    }

    #callout,
    blockquote {
      margin: 0;
      margin-top: var(--spacing);
      margin-bottom: var(--spacing);
      padding: var(--spacing);
      padding-top: calc(var(--spacing) / 2);
      background-color: var(--background);
      border: 2px solid var(--text-secondary);
      border-left: 7px solid var(--text-secondary);
    }

    blockquote {
      padding-top: var(--spacing);
    }

    #callout {
        > a {
            color: var(--text) !important;
            background-color: var(--primary);
        }

        > a:hover {
            color: var(--text-secondary) !important;
        }
    }

    #callout.Tip {
      background-color: var(--tip-dark);
      border-color: var(--tip);

      h1,
      h2,
      h3,
      h4 {
        color: var(--tip);
      }
    }

    #callout.Warning {
      background-color: var(--warning-dark);
      border-color: var(--warning);

      h1,
      h2,
      h3,
      h4 {
        color: var(--warning);
      }
    }

    #callout.Danger {
      background-color: var(--primary-dark);
      border-color: var(--primary);

      h1,
      h2,
      h3,
      h4 {
        color: var(--primary);
      }
    }

    #callout.Info {
      background-color: var(--info-dark);
      border-color: var(--info);

      h1,
      h2,
      h3,
      h4 {
        color: var(--info);
      }
    }

    table {
      margin-top: var(--spacing);
      margin-bottom: var(--spacing);
      border-collapse: collapse;

      tbody tr:nth-child(even) {
        background-color: var(--background-darker);
      }

      tbody tr:nth-child(odd) {
        background-color: var(--background-lighter);
      }

      td,
      th {
        padding: calc(var(--spacing) / 2);
        border: 1px solid var(--text-secondary);
      }
    }
  }
}

/* overwrites */

a {
  all: unset;
  color: var(--primary);
  cursor: pointer;
  text-decoration: none;
}
a:before {
  content: "[";
}
a:after {
  content: "]";
}
a:hover {
  background-color: var(--primary-dark);
  color: var(--primary);
}

h1 a,
h2 a,
h3 a,
h4 a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: var(--secondary);
}

footer {
  text-align: center;
}

code {
  font-family: "JetBrains Mono", monospace;
}

summary {
  list-style: none;
  color: var(--info);

  h3 {
    user-select: none;
    color: var(--info);
  }
}

summary::-webkit-details-marker {
  display: none;
  /* Chrome/Safari */
}

summary {
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: calc(var(--spacing) / 2);
}

details {
  margin: 0;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  padding: calc(var(--spacing) / 2);
  border: 2px solid var(--text-secondary);
  border-left: 7px solid var(--text-secondary);
  background-color: var(--info-dark);
  border-color: var(--info);
}

summary::before {
  content: ">>>";
  margin-right: var(--spacing);
  display: inline-block;
}

details[open] summary::before {
  content: "vvv";
}

@media only screen and (max-width: 600px) {
  .list {
    .post-archive {
      flex-direction: column;

      .left {
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;

        h4 {
          margin-left: 0;
        }
      }

      .tags a {
        padding-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .centered {
    max-width: 90vw;
  }
}

/* fonts */
/* MapleMono NF - normal */
@font-face {
  font-family: "MapleMono NF";
  font-style: normal;
  src: url("/fonts/MapleMono-NF-Thin.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-ExtraLight.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-Light.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-Regular.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-Medium.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-SemiBold.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-Bold.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-ExtraBold.ttf") format("truetype");
}

/* MapleMono NF - italic */
@font-face {
  font-family: "MapleMono NF";
  font-style: italic;
  src: url("/fonts/MapleMono-NF-ThinItalic.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-ExtraLightItalic.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-LightItalic.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-Italic.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-MediumItalic.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-SemiBoldItalic.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-BoldItalic.ttf") format("truetype"),
       url("/fonts/MapleMono-NF-ExtraBoldItalic.ttf") format("truetype");
}
